<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="../assets/favicons/site.webmanifest">
  <link rel="stylesheet" href="../style/main.css">
  <title>E - Katalog HP</title>
</head>
<body>
  <header>
    <h1>Halaman Register</h1>
  </header>
  <nav>
    <ul>
      <li><a href="../index.html">Halaman Utama</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>
  </nav>
  <section class="mid">
    <form action="register.html" method="post">
      <table>
        <tr>
          <td><label for="username">Username</label></td>
          <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
          <td><label for="password">Password</label></td>
          <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input type="email" name="email" id="email"></td>
        </tr>
        <tr>
          <td><label for="usia">Usia</label></td>
          <td><input type="number" name="usia" id="usia"></td>
        </tr>
        <tr>
          <td><label for="kelas">Kelas</label></td>
          <td>
            <select name="kelas" id="kelas">
              <option value=""></option>
              <option value="A">IF - A 2021</option>
              <option value="B">IF - B 2021</option>
              <option value="C">IF - C 2021</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="male">Jenis Kelamin</label></td>
          <td>
            <label for="male">
              <input type="radio" name="gender" id="male" value="male">
            Laki-Laki</label>
            <label for="female"><input type="radio" name="gender" id="female" value="female">
            Perempuan</label>
          </td>
        </tr>
        <tr>
          <td><label for="tidur">Hobi</label></td>
          <td>
            <input type="checkbox" name="hobi" id="tidur" value="tidur">
            <label for="tidur">Tidur</label>
            <input type="checkbox" name="hobi" id="malas" value="malas">
            <label for="malas">Malas</label>
            <input type="checkbox" name="hobi" id="mabar" value="mabar">
            <label for="mabar">Mabar</label>
          </td>
        </tr>
        <tr>
          <td><label for="alamat">Alamat</label></td>
          <td><textarea name="alamat" id="alamat" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
          <td><label for="birth">Tanggal Lahir</label></td>
          <td><input type="date" name="birth" id="birth"></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
          </td>
        </tr>
      </table>
    </form>
  </section>
  <footer>
    <p>&copy; PT Reon Teknologi Digital 2023. All Right Reserved</p>
  </footer>
</body>
</html>
